body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

section {
  height: 500px;
  margin-bottom: 150px;
}

h1 {
  font-size: 50px;
}

.color-orange {
  color: #ffa500;
}

p {
  color: #696969;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
}

.welcome-area {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-area {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.button {
  background-image: linear-gradient(
    45deg,
    rgb(252, 142, 129),
    rgb(243, 89, 72)
  );
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 8px;
  color: white;
}

.experience-area {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.border {
  box-shadow: 10px 10px 40px rgb(51, 51, 51);
  border-radius: 10px;
  height: 80%;
}

#left-border {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}

#left-border-2 {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, #0002ff, #00fbff);
  border-image-slice: 1;
}

.footer {
  font-size: 13px;
  text-align: center;
}
